<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>Количество новостей: {{ posts|length }}</h3>
    {% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Статья
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.header | censor }}
                </td>
                <td>
                    {{ post.create_time|date:'d-M-Y H:m' }}
                </td>
                <td>
                    {{ post.body | truncatechars:50 | censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}